Repository viraptor/radicle-upstream, changes with the owners that CODEOWNERS names for each.
All owners: @radicle-dev/upstream, @radicle-dev/upstream-ui, @radicle-dev/upstream-proxy

CODEOWNERS:

# Catch-all for any other files that need reviewing by anyone involved in
# Upstream
* @radicle-dev/upstream

# All UI related code and files
cypress/* @radicle-dev/upstream-ui
ui/* @radicle-dev/upstream-ui
patches/* @radicle-dev/upstream-ui
native/* @radicle-dev/upstream-ui
*.js @radicle-dev/upstream-ui
package.json @radicle-dev/upstream-ui
cypress.json @radicle-dev/upstream-ui
tsconfig.json @radicle-dev/upstream-ui

# All Proxy related code and files
fixtures/* @radicle-dev/upstream-proxy
proxy/* @radicle-dev/upstream-proxy
Cargo.* @radicle-dev/upstream-proxy
rust-toolchain @radicle-dev/upstream-proxy

Update ui/src/customProtocolHandler.ts
  ui/src/customProtocolHandler.ts
Owners: @radicle-dev/upstream

refactor(ui): introduce proxy api client
  cypress/support/commands.ts
  package.json
  ui/src/api.ts
  ui/src/identity.ts
  ui/src/proxy/control.ts
  ui/src/proxy/fetcher.ts
  ui/src/proxy/identity.ts
  ui/src/proxy/index.ts
  ui/src/proxy/settings.ts
  ui/src/session.ts
  ui/src/settings.ts
  yarn.lock
Owners: @radicle-dev/upstream, @radicle-dev/upstream-ui

Extract duplicated code into a function
  native/index.ts
Owners: @radicle-dev/upstream-ui

Fix spec
  cypress/integration/deep_linking.spec.ts
Owners: @radicle-dev/upstream

Fix ts warnings
  ui/src/ipc.ts
Owners: @radicle-dev/upstream

Undo unnecessary electron-builder update
  package.json
  yarn.lock
Owners: @radicle-dev/upstream-ui, @radicle-dev/upstream

Fixup
  ui/src/customProtocolHandler.ts
Owners: @radicle-dev/upstream

WIP: introducing daemon
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/control.rs
  proxy/api/src/error.rs
  proxy/api/src/ethereum/claim_ext.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/keystore.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identifier.rs
  proxy/api/src/identity.rs
  proxy/api/src/notification.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/service.rs
  proxy/api/src/session.rs
  proxy/coco/src/lib.rs
Owners: @radicle-dev/upstream-proxy, @radicle-dev/upstream

WIP: use radicle-daemon and radicle-source
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/bin/git-remote-rad.rs
  proxy/api/src/browser.rs
  proxy/api/src/control.rs
  proxy/api/src/error.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/source.rs
  proxy/api/src/lib.rs
  proxy/api/src/project.rs
  proxy/api/src/session.rs
  proxy/coco/src/lib.rs
Owners: @radicle-dev/upstream-proxy, @radicle-dev/upstream

fixup! fixup! WIP: use radicle-daemon and radicle-source
  proxy/api/src/browser.rs
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/ethereum/claim_ext.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identifier.rs
  proxy/api/src/identity.rs
  proxy/api/src/notification.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/service.rs
  proxy/api/src/session.rs
Owners: @radicle-dev/upstream

fixup! fixup! fixup! WIP: use radicle-daemon and radicle-source
  proxy/api/src/browser.rs
  proxy/api/src/identifier.rs
  proxy/api/src/project.rs
Owners: @radicle-dev/upstream

config: increase the fetch limit for peeks
  proxy/coco/src/config.rs
Owners: @radicle-dev/upstream

ui: Wire up attestation flow
  ui/Modal/Funding/Link/EnterPassphrase.svelte
  ui/Modal/Funding/Link/RadicleToEth.svelte
  ui/Modal/Funding/LinkAddress.svelte
Owners: @radicle-dev/upstream

Add 'style' property to TxButton
  ui/DesignSystem/Component/TxButton.svelte
Owners: @radicle-dev/upstream

Implement incomplete attestation status check
  ui/Screen/Profile/Funding.svelte
  ui/src/ethereum.ts
  ui/src/identity.ts
Owners: @radicle-dev/upstream
